body {
  background: #eeeeee;
  margin: auto;
  text-align: center;
  font-family: “Trebuchet MS”, Verdana, Arial, serif;
}
#log {
  background: #000080;
  text-align: left;
  color: white;
}

.progress {
	background: #D3D3D3;
	margin: 10;
	width:100%;
}

.bar{
	background: green;
	width: 10%;
	height: 30px;
}
